.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.card-box {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  overflow: hidden; /* Prevent scrolling */
}